@import "tailwindcss";

@theme {
  --color-brand-50: #eef4ff;
  --color-brand-100: #d9e6ff;
  --color-brand-200: #bcd3ff;
  --color-brand-500: #3366ff;
  --color-brand-600: #1f47e6;
  --color-brand-700: #1a37b4;
  --color-brand-900: #1c2f72;
  --color-brand-950: #141d45;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f6f7fb;
  color: #0f172a;
}
